---
import BlogIndexCard from './BlogIndexCard.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<section class='py-8'>
  <h2
    class='font-medium tracking-wider uppercase text-secondary dark:text-secondary-dark'
  >
    Recently Published
  </h2>
  <div class='flex flex-col gap-16 mt-10'>
    {posts.map((post) => <BlogIndexCard post={post} />)}
  </div>
</section>
