---
import Date from './Date.astro';
---

<article itemscope itemtype='http://schema.org/Article' class='py-16'>
  <a href='/' class='flex items-center gap-4 group'>
    <span class='transition duration-200 group-hover:-translate-x-1'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18'></path>
      </svg>
    </span>
    <span class='font-medium'>Back to Overview</span>
  </a>

  <header class='mt-20'>
    <!-- <Date dateString={frontmatter.date} /> -->
    <h1
      itemprop='headline'
      class='mt-6 text-4xl font-bold tracking-tight text-black dark:text-white sm:text-5xl'
    >
      <!-- {frontmatter.title} -->
    </h1>
  </header>

  <section itemprop='articleBody' class='mt-8 prose dark:prose-invert'>
    <!-- <img src={frontmatter.banner} alt='Image' width={736} height={420} /> -->
    <!-- <Component /> -->
  </section>
</article>

<!-- style={{ display: 'none' }} -->
