---
import clsx from 'clsx';
import { parseISO, format } from 'date-fns';

const { dateString, extraClasses } = Astro.props;

interface Props {
  dateString: string;
  extraClasses?: string;
}

const date = parseISO(dateString);
---

<time datetime={dateString} class='flex items-center gap-3.5'>
  <div class='h-4 w-0.5 rounded-full bg-gray-350 opacity-60 dark:bg-slate-600'>
  </div>
  <span class={clsx('text-sm text-gray-350 dark:text-slate-600', extraClasses)}>
    {format(date, 'LLLL d, yyyy')}
  </span>
</time>
