---
import Logo from '../Icons/Logo.astro';
import LogoDark from '../Icons/LogoDark.astro';
---

<a
  href='/'
  class='h-10 w-[120px] relative block'
  aria-label='Main homepage logo'
>
  <Logo
    extraClasses='absolute inset-0 w-full h-auto transition duration-500 opacity-100 dark:opacity-0'
  />
  <LogoDark
    extraClasses='absolute inset-0 w-full h-auto transition duration-500 opacity-0 dark:opacity-100'
  />
</a>
