---
import DynamicLogo from './DynamicLogo.astro';
---

<footer class='py-16'>
  <DynamicLogo />
  <p class='mt-4 text-sm text-black dark:text-white'>Thanks for reading!</p>
  <p class='mt-1 text-xs text-gray-500 dark:text-slate-500'>
    All rights reserved &copy; Ashish Sharma 2023
  </p>
</footer>
