---
import DynamicLogo from './DynamicLogo.astro';
import ThemeToggler from './ThemeToggler.astro';
---

<header>
  <nav class='flex items-center justify-between py-9 lg:py-12'>
    <DynamicLogo />
    <ThemeToggler />
  </nav>
</header>
