---
import '../styles/global.css';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Container from '../components/Container.astro';

interface Props {
  pageTitle?: string;
}

const { pageTitle = 'Ashish Sharma' } = Astro.props;
---

<html
  lang='en'
  class="scroll-smooth antialiased [font-feature-settings:'ss01']"
>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <link rel='preconnect' href='https://rsms.me/' />
    <link rel='stylesheet' href='https://rsms.me/inter/inter.css' />

    <meta name='viewport' content='width=device-width' />
    <meta
      name='description'
      content="Hi, I'm Ashish Sharma. This is my personal blog where I share my thoughts and learnings."
    />
    <title>{pageTitle}</title>
  </head>
  <body class='transition duration-300 bg-white dark:bg-gray-900'>
    <Container>
      <Header />
      <slot />
      <Footer />
    </Container>
  </body>
</html>
